{% extends 'shared/site.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/comment-page.css' %}">
{% endblock %}


{% block site_content %}

    <h1>Comments and Details</h1>
        <div class="d-block" style="background-color: rgb(230, 240, 240); padding:2%">
            <div class="box">
                <form method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button class="button btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
            <br/><br/>
            {% if post.comment_set.count > 0 %}
                {% for comment in post.comment_set.all %}
                    <div class="box">
                        <h5><em>{{ comment.comment }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>No comments yet...</h3>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}