{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block site_content %}
    <h1 class="list-feed-h1">Home Feed</h1>
    <ul class="list-horizontal list-feed">
        {% for post in posts %}
            <li class="list-item">
                <div class="post-details">
                        <p class="post-info"><img src="/static/pin.png"
                                                  alt="image of {{ post.location }}"> {{ post.location }}</p>
                    <p class="post-description">{{ post.description }}</p>
                    <div class="post-buttons">
                        <a href="{% url 'post comments' post.pk %}" class="button btn btn-primary">Comments</a>
                        <a href="{% url 'post edit' post.pk %}" class="button btn btn-success">Edit</a>
                        <a href="{% url 'post delete' post.pk %}" class="button-danger btn btn-danger">Delete</a>
                    </div>
                </div>
                <img src="{{ post.image_url }}" alt="image of {{ post.location }}">
            </li>
        {% endfor %}
    </ul>

{% endblock %}