{% extends 'shared/site.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post-details.css' %}">
{% endblock %}


{% block site_content %}

    <h1>Post details</h1>
    <div class="post-background">
        <div class="post-info">
            <ul class="list-post-details list-horizontal">
                <li class="list-item">
                    <img src="/static/pin.png" alt="image of {{ post.location }}"> {{ post.location }}
                </li>
            </ul>
            <p>Description: {{ post.description }}</p>
            {#        <a class="button" href="{% url 'post like' post.id %}">Like</a>#}
            <div class="post-buttons">
                <a href="{% url 'post like' post.id %}">
                    <img src="/static/heart.png">
                </a>
            </div>
            Likes: {{ post.like_set.count }}
        </div>
        <div class="post-image">
            <img src="{{ post.image_url }}" alt="image of {{ post.location }}">
        </div>
    </div>
{% endblock %}