<header>
    <nav class="site-nav">
        <ul class="list-horizontal">
            <li class="list-item">
                <a href="{% url 'index' %}">
                    <img src="/static/compass1.png">
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'feed' %}">
                    Feed
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    Sign in
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    Sign up
                </a>
            </li>
        </ul>
    </nav>
</header>