<header>
    <nav class="site-nav">
        <ul class="list-horizontal">
            <li class="list-item">
                <a href="{% url 'index' %}">
                    Home
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'feed' %}">
                    Feed
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'add photo' %}">
                    Add photo
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="list-item">
                    <a href="{% url 'user profile' user.id %}">
                        {{ user.username }}
                    </a>
                </li>
                <li class="list-item">
                    <a href="{% url 'signout user'%}">
                        Sign out
                    </a>
                </li>
            {% else %}
                <li class="list-item">
                    <a href="{% url 'login' %}">
                        Sign in
                    </a>
                </li>
                <li class="list-item">
                    <a href="{% url 'signup profile' %}">
                        Sign up
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
