{% extends 'shared/site.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/img_index.css' %}">
{% endblock %}


{% block site_title %}
    Adventr
{% endblock %}
{% block site_content %}
<section>
    <h1 class="list-item">SHARE YOUR BEST MOMENTS WITH FRIENDS</h1>
    <div>
        <div>
            <button>Sign up</button>
        </div>
        <div>
            Already have an account?
            <button>Sign in</button>
        </div>
    </div>
</section>
{% endblock %}
